[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
  ignore = dirty
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
  ignore = dirty
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/vim-scripts/matchit.zip.git
  ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/vim-scripts/surround.vim.git
  ignore = dirty
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
  ignore = dirty
[submodule "bundle/vim-simplepairs"]
	path = bundle/vim-simplepairs
	url = git://github.com/vim-scripts/simple-pairs.git
  ignore = dirty
[submodule "bundle/vim-railscasts"]
	path = bundle/vim-railscasts
	url = git://github.com/vim-scripts/railscasts.git
[submodule "bundle/vim-matchtag"]
	path = bundle/vim-matchtag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "bundle/vim-jshint2"]
	path = bundle/vim-jshint2
	url = http://github.com/Shutnik/jshint2.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-command-t"]
	path = bundle/vim-command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-table-mode"]
	path = bundle/vim-table-mode
	url = git@github.com:dhruvasagar/vim-table-mode.git
[submodule "bundle/vim-actionscript"]
	path = bundle/vim-actionscript
	url = http://github.com/jeroenbourgois/vim-actionscript.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "bundle/vim-godef"]
	path = bundle/vim-godef
	url = https://github.com/dgryski/vim-godef
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
